#CHANGE THIS FILE
CONFIG_SOC_SERIES_STM32F3X=y
CONFIG_SOC_STM32F303XC=y

# 72MHz system clock
CONFIG_SYS_CLOCK_HW_CYCLES_PER_SEC=72000000

CONFIG_PINCTRL=y

# enable GPIO
CONFIG_GPIO=y

# clock configuration
CONFIG_CLOCK_CONTROL=y

CONFIG_ZMK_USB=y

CONFIG_EC11=y
CONFIG_EC11_TRIGGER_OWN_THREAD=y

# Enable SPI
CONFIG_SPI=y

# Enable the MCP23S17 GPIO expander
CONFIG_MCP23S17=y

# Enable the KSCAN GPIO matrix driver
CONFIG_ZMK_KSCAN_GPIO_MATRIX=y
