/dts-v1/;
#include <nordic/nrf52833_qdaa.dtsi>

 / {
     model = "improvedpad";
     compatible = "improvedpad,v1";
 
     chosen {
         zephyr,sram = &sram0;
         zephyr,flash = &flash0;
         zmk,kscan = &kscan0;
     };
  
     kscan0: kscan {
        compatible = "zmk,kscan-gpio-matrix";
        wakeup-source;

        diode-direction = "col2row";
        row-gpios
            = <&expander 7 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
            , <&expander 6 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
            , <&expander 5 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
            , <&expander 4 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
            ;
        col-gpios
            = <&expander 0 GPIO_ACTIVE_HIGH>
            , <&expander 1 GPIO_ACTIVE_HIGH>
            , <&expander 2 GPIO_ACTIVE_HIGH>
            , <&expander 3 GPIO_ACTIVE_HIGH>
            ;
     };
    };
 
    &gpiote {
        status = "okay";
    };
    
    &gpio0 {
        status = "okay";
    };
    
    &gpio1 {
        status = "okay";
    };

    &spi1 {
        status = "okay";
        compatible = "nordic,nrf-spim";
        pinctrl-0 = <&spi1_default>;
        pinctrl-1 = <&spi1_sleep>;
        pinctrl-names = "default", "sleep";

        expander: mcp23s17@0 {
            status = "okay";
            compatible = "microchip,mcp23s17";
            reg = <0>;
            spi-max-frequency = <800000>;
            gpio-controller;
            #gpio-cells = <2>;
            #ngpios = <16>;
            // maybe only available with microchip,mcp23sxx
            // reset-gpios = <&gpio0 18 GPIO_ACTIVE_LOW>;
        };
    };

    // &uart0 {
    //     compatible = "nordic,nrf-uarte";
    //     current-speed = <115200>;
    //     pinctrl-0 = <&uart0_default>;
    //     pinctrl-1 = <&uart0_sleep>;
    //     pinctrl-names = "default", "sleep";
    // };

    zephyr_udc0: &usbd {
       // pinctrl-0 = <&usb_dm_pa11 &usb_dp_pa12>;
        pinctrl-names = "default";
        status = "okay";
    };
    
    &flash0 {
        /*
         * For more information, see:
         * http://docs.zephyrproject.org/latest/devices/dts/flash_partitions.html
         */
        partitions {
            compatible = "fixed-partitions";
            #address-cells = <1>;
            #size-cells = <1>;
    
            sd_partition: partition@0 {
                reg = <0x00000000 0x00026000>;
            };
            code_partition: partition@26000 {
                reg = <0x00026000 0x00046000>;
            };
    
            /*
             * The flash starting at 0x0006c000 and ending at
             * 0x00073fff is reserved for use by the application.
             */
    
            /*
             * Storage partition will be used by FCB/LittleFS/NVS
             * if enabled.
             */
            storage_partition: partition@6c000 {
                reg = <0x0006c000 0x00008000>;
            };
    
            boot_partition: partition@74000 {
                reg = <0x00074000 0x0000c000>;
            };
        };
    };