if BOARD_IMPROVEDPAD

config BOARD
    default "improvedpad"

if USB_DEVICE_STACK

config USB_NRFX
    default y

endif # USB_DEVICE_STACK

config BT_CTLR
    default BT

config MAX17048
	default y

config BOARD_NRFMICRO_CHARGER
    default y

endif # BOARD_IMPROVEDPAD
