#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
// --------------------------------------------------------------------------------------------------------------------------------------------------------------------
// |    A    |    B    |    C    |    D    |    X    |    Y    |
// |    E    |    F    |    G    |    H
// |    I    |    Z    |    J    |    K
// --------------------------------------------------------------------------------------------------------------------------------------------------------------------
            bindings = <
    &kp A    &kp B    &kp C    &kp D     &kp X     &kp Y
    &kp E    &kp F    &kp G    &kp H
    &kp I    &kp Z    &kp J    &kp K
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN>;
        };
    };
};