//#include <nordic/nrf52833_qiaa.dtsi>
//#include "improvedpad.dtsi"
/ {
    chosen {
        zmk,kscan = &kscan0;
    };
    
    kscan0: kscan_0 {
        compatible = "zmk,kscan-gpio-matrix";
        diode-direction = "col2row";
        wakeup-source;

        col-gpios
            = <&pro_micro 4 GPIO_ACTIVE_HIGH>
            , <&pro_micro 5 GPIO_ACTIVE_HIGH>
            , <&pro_micro 10 GPIO_ACTIVE_HIGH>
            , <&pro_micro 16 GPIO_ACTIVE_HIGH>
            ;

        row-gpios
            = <&pro_micro 6 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
            , <&pro_micro 7 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
            , <&pro_micro 8 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
            , <&pro_micro 9 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
            ;
    };

    // &spi1 {
    //     status = "okay";
    //     // sck-pin = <17>;
    //     // mosi-pin = <14>;
    //     // miso-pin = <15>;
    //     // cs-gpios = <&gpio0 11 GPIO_ACTIVE_LOW>;
    //     compatible = "nordic,nrf-spim";
    //     pinctrl-0 = <&spi1_default>;
    //     pinctrl-1 = <&spi1_sleep>;
    //     pinctrl-names = "default", "sleep";
    // };

};